$size: 101px;

$week-days: (
  "mon": 0,
  "tue": 1,
  "wed": 2,
  "thu": 3,
  "fri": 4,
  "sat": 5,
  "sun": 6
);

$daysInMonth: (
  28,
  29,
  30,
  31
);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.calendar {
  max-width: $size * 7;
  margin: 10% auto;
  display: flex;
  flex-wrap: wrap;

  & > div {
    display: none;
    flex: 0 0 ($size - 1px);
    height: $size - 1px;
    background-color: #eee;
    border: 1px solid black;
    margin: 1px 1px 0 0;
    
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;

    cursor: pointer;
    transition: 500ms;

    &::before {
      content: "";
      line-height: $size;
      display: block;
    }

    &:hover {
      background-color: pink;
      transform: translateY(-20px);
    }
  }
}

@each $day, $column in $week-days {
  .calendar-#{$day} > div:first-child {
    margin-left: $size * ($column);
  }
}

@each $sum in $daysInMonth {
  .calendar-#{$sum} > div:nth-child(-n + #{$sum}) {
    display: block;
  }

}

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i}):before {
    content: "#{$i}";
  }
}
